<h2><%=@user.username %></h2>
<%= image_tag "#{@user.avatar}" %>
<%= @user.bio %>

<%= link_to 'Murmr', new_post_path %>
<br>
<% if @current_user == @user %>
   <p><%= "#{@current_user.username}'s page" %></p>
<% elsif @current_user.followers.include?(@user) %>
   <p><%= button_to "Unfollow #{@user.username}",     
       unfollow_user_path, method: "POST" %></p>
<% else %>
   <p><%= button_to "Follow #{@user.username}", follow_user_path, 
       method: "POST"  %></p>
<% end %>
<br>
<%= link_to 'Followers', followers_path %>
<br>
<%= link_to 'Following', following_path %>
<br>
<%= link_to 'Likes', likes_path%>
<br>
<%= link_to 'Find Users to Follow', discover_path %>
<br>
<%= button_to 'Log Out', log_out_path, method: "DELETE" %>
<ul>
<li>
<% @user.posts.order('created_at desc').each do |post|%>
<%= link_to post.content, post %>
<% if post.likes%>
    <p><%=post.likes.count%> likes </p>
    <%= button_to 'Like', like_post_path(post), method: "POST" %>
    
    <%= form_for [post, Comment.new] do |f| %>
    <%= f.text_area :comment%> 
    <br>
    <%= f.submit 'Comment' %>
    <%end%>
    <% if @current_user == @user %>
        <%= link_to 'Edit Murmr', edit_post_path(post) %>
        <%= button_to "Delete Murmr", post_path(post), :method => :delete %>
    <%end%>
<%end%>
<br>
</li>
<%end%>
</ul>

<%= link_to 'home', murmrs_path %>