<div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src=<%="#{@post.user.avatar}"%>>
                </figure>
            </div>
            <div class="media-content">
                <div class="activity">
                    <strong><%= link_to @post.user.username, @post.user %></strong><br>
                    <p><%= link_to @post.content, @post %></p>
                    <%= form_for [@post, Comment.new] do |f| %>
                    <%= f.text_area :comment%> 
                    <br>
                    <p><%=@post.likes.count%> likes </p>
                    <%= f.submit 'Comment', class:"button is-primary is-small"%>
                    <%= button_to 'Like', like_post_path(@post), method: "POST", class:"button is-primary is-small"%>
                        <%end%>    
                        <% if @current_user == @user %>
                        <%= link_to 'Edit Murmr', edit_post_path(@post) %>
                        <%= button_to "Delete Murmr", post_path(@post), :method => :delete, class:"button is-primary is-small" %>
                        <%end%>
                </div>
            </div>
        </article>
    </div>
</ul>
<button class="button is-medium is-fullwidth is-primary"><%= link_to 'home', murmrs_path %></button>